.changePas{
	padding-top: 90px;
	background: #fff;
	margin: 33px 33px 33px 0;
	padding-bottom: 100px;

}
.changePas .changePasCont{
	width: 440px;
	margin:auto;
}
.changePas .changePasCont .title{
	font-size: 20px;
	color: #282828;
	text-align: center;
	margin-bottom: 39px;
}
.changePas .changePasCont .changeText label{
	font-size: 16px;
	color: #666;
	display: inline-block;
	width: 100px;
	text-align: right;
}
.changePas .changePasCont .changeText input{
	width: 320px;
	height: 40px;
	border: 1px solid #949494;
	padding-left: 10px;
}
.changePas .changePasCont .changeText .nameTxt{
	font-size: 16px;
	color: #282828;
}
.changePas .changePasCont .changeText>div{
	margin-bottom: 26px;
	position: relative;
}
.changePas .changePasCont .changeText .paswTip{
	margin-left: 106px;
	color: #949494;
	font-size: 12px;
	padding-top: 2px;
}
.changePas .changePasCont .errorTxt{
	color: #ff0000;
	font-size: 14px;
	position: absolute;
	top: 10px;
	right: -110px;
}
.changePas .changePasCont .errorTxt img{
	vertical-align: middle;
}
.changePas .changePasCont .errorTxt span{
	display: inline-block;
	vertical-align: middle;
}
.changePas .changePasCont .changeBtn{
	background: #63A8E8;
	width: 326px;
	line-height: 40px;
	margin-left: 104px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
}
.changePas .changePasCont .changeBtn:hover{
	cursor: pointer;
}

.redColor{
	margin-left: 106px;
	color: #ff0000;
	font-size: 12px;
	padding-top: 2px;
}