#base {
  // background: red;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 70px;
  padding: 0 20px;
  // position: relative;
  .page {
    // background: red;
    display: inline-block;
    vertical-align: top;

    .title {
      border-left: 2px solid #63a8eb;
      padding-left: 10px;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .div_info {
      margin-bottom: 10px;

      .info_label {
        display: inline-block;
        width: 98px;
        text-align: left;
        margin-right: 10px;
        color: #3d4f60;
        vertical-align: middle;
        font-size: 14px;
      }

      .info_input {
        height: 26px;
        width: 204px;
        border: 1px solid #e1e6eb;
        display: inline-block;
        padding-left: 5px;
      }

      .info_select {
        width: 211px;
        height: 31px;
        border: 1px solid #e1e6eb;
        display: inline-block;
        padding-left: 5px;
      }
    }

    .nextlevel {
      margin-top: 10px;
      padding-left: 10px;
    }
  }
  .page2 {
    // width: 45%;
    width: 446px;
  }

  .page1 {
    width: 446px;
    border-right: 1px dashed #dce1e7;
    margin-right: 90px;
  }
  .zx{
      width: 600px;
      border-right-width: 0;
      #pageCHS{
          .div_info{
              margin-bottom: 10px;
              .info_label{
                  display: block;
                  width: 600px;
                  margin-bottom: 5px;
              }
          }
      }
  }

  .translate {
    position: fixed;
    top: 50%;
    left: 650px;
    padding: 10px 0;

    .translateBtn {
      background: #63a8eb;
      border: none;
      border-radius: 2px;
      color: #fff;
      margin-right: 10px;
      line-height: 33px;
      width: 66px;
      text-align: center;


      .textIcon {
        display: inline-block;
        margin-top: 3px;
        // margin-right: 6px;
        vertical-align: middle;
      }

      .nextIcon {
        font-size: 20px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
  .translate.changeTop{
  	position: absolute;
  	top: 35%;
  	left: 435px;
  }
}
