.selectCont{
	.applyTableInfo{
		border: 1px solid #DDD;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 70px;
		padding: 20px;
		position: relative;
		.page1{
			display: inline-block;
			font-size: 14px;
			margin-right: 90px;
			/*margin-bottom: 20px;*/
			border-right: 1px dashed #dce1e7;
			width: 416px;
			vertical-align: top;
			.partTitle p{
				border-left: 2px solid #63a8eb;
				padding-left: 10px;
				font-size: 16px;
			}
			.info{
				/*width: 50%;*/
				margin-bottom: 10px;

				.key{
					display: inline-block;
					width: 98px;
					text-align: left;
					margin-right: 16px;
					color: #3D4F60;
					vertical-align: middle;
					font-size: 14px;
				}
				.downline{
					display: inline-block;
					.value{
						/*下拉框*/
						background: #fff;
						text-decoration:none;
						padding-left: 5px;
						height: 26px;
						line-height: 26px;
						width: 204px;
						border: 1px solid  #E1E6EB;
					    display: inline-block;
					    vertical-align: top;
					    vertical-align: middle;
					    font-size: 14px;
					    overflow: hidden;

					}
					.triangle{
						opacity: 1;
						font-size: 0;
						display: inline-block;
					}
					.select{
						display: inline-block;
						padding-left: 5px;
						height: 28px;
						width: 210px;
						border: 1px solid  #E1E6EB;
					    vertical-align: top;
					    vertical-align: middle;
					}
					.value[contenteditable=true]{
						background: #fff;
						text-decoration:none;
						padding-left: 5px;
						height: 26px;
						line-height: 26px;
						width: 204px;
						border: 1px solid  #E1E6EB;
					    display: inline-block;
					    vertical-align: top;
					    vertical-align: middle;
					    font-size: 14px;
					    overflow: hidden;
					}
					.value[contenteditable=false]{
						background: #fff;
						text-decoration:none;
						padding-left: 5px;
						height: 26px;
						line-height: 26px;
						width: 204px;
						border: 1px solid  #E1E6EB;
					    display: inline-block;
					    vertical-align: top;
					    vertical-align: middle;
					    font-size: 14px;
					    background: rgb(238, 238, 238);
						color: rgb(84, 84, 84);
						overflow: hidden;
					}
				}
				.suojin{
					margin-left: 14px;
					margin-top: 16px;
					.key{
						display: inline-block;
						width: 70px;
					}
					.value{
						display: inline-block;
						width: 204px;
					    margin-left: 24px;
					    overflow: hidden;
					}
					.select{
						margin-left: 24px;
					}
					// .value[contenteditable=true],.value[contenteditable=false]{
					// 	display: inline-block;
					// 	width: 204px;
					//     margin-left: 24px;
					// }

				}
			}
			.datainput{
				display: none;				
			}
		}
		.page2{
			border-color: transparent;
			margin-right: 0;
			
		}
		.translate{
			position: fixed;
			top: 50%;
			left: 620px;
			padding:10px 0px;
			.transBtn{
				background: #63a8eb;
				border: none;
				border-radius: 2px;
				color: #fff;
				margin-right: 10px;
				line-height: 33px;
				width: 66px;
				.textIcon{
					display: inline-block;
					margin-top: 3px;
					margin-right: 6px;
				}
				.nextIcon{
					font-size: 30px;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
		.btnGroup{
			background: #F7F7F7;
			/*background: #F1F1F1;*/
		    position: fixed;
		    bottom: 0px;
		    right: 0;
		    left: 180px;
		    padding-bottom: 10px;
		    padding-left: 34px;
		    padding-top: 5px;

		    .cancelBtn{
			    background: #F8F8F8;
				border: 1px solid #DDD;
				border-radius: 2px;
				color: #000;
				padding: 8px 20px;
			}
			.saveBtn{
				background: #63a8eb;
				border: none;
				border-radius: 2px;
				color: #fff;
				padding: 8px 20px;
				margin-right: 10px;
			}
		}
	}
}


